/* Nav Bar Background */
.uk-navbar {
  background: #287bff;
  border: none;
}

/* Nav Bar Nav Placement */
.uk-navbar-nav {
  margin: 10px;
  float: right;
}

/* Nav Bar Text */
.uk-navbar-nav > li > a {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
}

/* Hamburger Menu Button */
#sidebar-button {
  margin: 10px;
  float: right;
}

h1 {
  font-family: sans-serif;
  margin-bottom: 20px;
  font-size: 36px;
}

/* Grid */
.uk-grid {
  text-align: center;
  margin-top: 100px;
}

/* Go button */
.uk-button {
  background-color: #287bff;
  color: white;
  border-radius: 5px;
}

.slideset-wrapper {
  margin-top: -100px;
}

.uk-slidenav-previous {
  color: white!important;
}

.uk-slidenav-next {
  color: white!important;
}