/* Nav Bar Background */
.uk-navbar {
  background: #287bff;
  border: none;
}

/* Nav Bar Nav Placement */
.uk-navbar-nav {
  margin: 10px;
  float: right;
}

/* Nav Bar Text */
.uk-navbar-nav > li > a {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
}

/* Hamburger Menu Button */
#sidebar-button {
  margin: 10px;
  float: right;
}

h1 {
  font-family: sans-serif;
  margin-bottom: 20px;
  font-size: 36px;
}

/* Grid */
.uk-grid {
  text-align: center;
  margin-top: 100px;
}

/* Quote Search Go button */
.uk-button {
  background-color: #287bff;
  color: white;
  border-radius: 5px;
}

/* Controls quote text */
.quote-text {
  margin-top: -60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

/* Controls quote select button */
.select-quote {
  position: fixed;
  margin-top: 200px;
  background-color: white;
  color: #287bff;
  font-weight: bold;
  font-family: sans-serif;
}

#get-started-button {
  background-color: #287bff;
  color: white;
  border-radius: 5px;
  border: none;
}

.slideset-wrapper {
  margin-top: -100px;
}

.uk-slidenav-previous {
  color: white!important;
}

.uk-slidenav-next {
  color: white!important;
}

/* images */
.custom-overlay {
  background-color: black !important;
padding-top: 10px;
padding-bottom: 10px;
color: white;
}